body {
	background: rgb(0,0,44);
	color: rgb(212,212,212);
	padding: 0 10px
}

h1 {
	text-align: center;
}

section {
	position: relative;
	width: 95%;
  background: rgb(33,33,104);
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box; /* jsp ce que ca fait */
}

section form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"]{
    width: 70%;
    padding: 20px;
    background: rgb(0,0,44);
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
}



button{
    padding: 20px;
    width: 25%;
    float: left;
    background: rgb(150,150,244);
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
}
